[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
coverage = "*"
pprofile = "*"
flake8 = "*"
setuptools = "*"

[packages]
npyscreen = "*"
click = "*"
windows-curses = "*"
orjson = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
