[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
autopep8 = "*"
pexpect = "*"
black = "*"
coverage = "*"
profiling = "*"
pprofile = "*"

[packages]
npyscreen = "*"
click = "*"
sh = "*"
libtmux = "*"
windows-curses = "*"
orjson = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
